.c-footer {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  background-color: var(--clr-cards);
  text-align: center;
  width: 90vw;
  height: 100px;
  padding: 25px;
  border-radius: var(--border-radius);
}

.c-footer__links a {
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
