.c-home__aside {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  text-align: center;
}

#typedText,
.typed-cursor {
  font-size: 55px;
  font-weight: bold;
  color: var(--clr-tertiary);
}
