.c-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-projects__title {
  font-size: 50px;
}

.c-projects__card:nth-child(1):hover .c-projects__icon {
  color: red;
}

.c-projects__card:nth-child(2):hover .c-projects__icon {
  color: purple;
}
