.c-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-skills__title {
  font-size: 50px;
}

.c-skills__grid {
  width: 80vw;
}

.c-skills__card:nth-child(1):hover .c-skills__icon {
  color: var(--clr-icon-js);
}

.c-skills__card:nth-child(2):hover .c-skills__icon {
  color: var(--clr-icon-html);
}

.c-skills__card:nth-child(3):hover .c-skills__icon {
  color: var(--clr-icon-css);
}

.c-skills__card:nth-child(4):hover .c-skills__icon {
  color: var(--clr-icon-py);
}

.c-skills__card:nth-child(5):hover .c-skills__icon {
  color: var(--clr-icon-ts);
}

.c-skills__card:nth-child(6):hover .c-skills__icon {
  color: var(--clr-icon-php);
}

.c-skills__card:nth-child(7):hover .c-skills__icon {
  color: var(--clr-icon-qt);
}

.c-skills__card:nth-child(8):hover .c-skills__icon {
  color: var(--clr-icon-gd);
}

.c-skills__card:nth-child(9):hover .c-skills__icon {
  color: var(--clr-icon-docker);
}

.c-skills__card:nth-child(10):hover .c-skills__icon {
  color: var(--clr-icon-blender);
}

.c-skills__card:nth-child(11):hover .c-skills__icon {
  color: var(--clr-icon-gimp);
}

.c-skills__card:nth-child(12):hover .c-skills__icon {
  color: var(--clr-icon-bash);
}

.c-skills__card:nth-child(13):hover .c-skills__icon {
  color: var(--clr-icon-linux);
}

.c-skills__card:nth-child(14):hover .c-skills__icon {
  color: var(--clr-icon-git);
}

.c-skills__card:nth-child(15):hover .c-skills__icon {
  color: var(--clr-icon-nodejs);
}
