.u-row-container {
  display: flex;
  flex-direction: row;
}

.u-column-container {
  display: flex;
  flex-direction: column;
}

.u-title {
  font-size: clamp(2rem, 1.5rem, 3rem);
}

.u-overflow-x {
  overflow-x: scroll;
}

.u-margin {
  margin: 20px;
}

.u-gap {
  gap: 10px;
}

.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-center-text {
  text-align: center;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-floating-animation {
  animation: floating-animation 5000ms infinite linear;
}

.u-rotating-animation {
  animation: rotating-animation 1000ms infinite linear;
}

.u-subtitle {
  font-size: clamp(1rem, 0.5rem, 2rem);
  margin: 20px 0;
}

.u-highlight-color {
  color: var(--clr-highlight);
}

.u-mobile__displayIt {
  display: none !important;
}

.u-lite-img {
  -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
  mask-image: radial-gradient(circle, black 70%, transparent 100%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.u-display-none {
  display: none;
}

.u-align-v {
  display: flex;
  align-items: center;
}

.u-main-title {
  font-size: clamp(2rem, 4rem, 6rem);
}

.u-half-width {
  width: 50vw;
}

.u-window-width {
  width: 95vw;
}

.u-container-width {
  width: 100%;
}

.u-padding {
  padding: 10px;
}

.u-radius {
  border-radius: 10px;
}

.u-reverse-row-container {
  display: flex;
  flex-direction: row-reverse;
}
