.cioccolato-theme {
  --clr-gold: #a89e08;
  --clr-info: #000000;
  --clr-header: #02010115;
  --clr-hide-header: transparent;
  --clr-primary: #d27c54;
  --clr-secondary: #b26b4c;
  --clr-tertiary: #8e523e;
  --clr-fourth: #7a4232;
}
