.high-contrast-theme {
  --clr-gold: #a89e08;
  --clr-info: #000000;
  --clr-header: #333333;
  --clr-hide-header: #4b0082;
  --clr-primary: #fff;
  --clr-secondary: #ff80f7;
  --clr-tertiary: #0a1d57;
  --clr-fourth: #7ec1f1;
  --clr-box-shadow: #000;
}
