.u-js-color {
  color: var(--clr-icon-js);
}

.u-html-color {
  color: var(--clr-icon-html);
}

.u-css-color {
  color: var(--clr-icon-css);
}

.u-py-color {
  color: var(--clr-icon-py);
}

.u-ts-color {
  color: var(--clr-icon-ts);
}

.u-php-color {
  color: var(--clr-icon-php);
}

.u-qt-color {
  color: var(--clr-icon-qt);
}

.u-gd-color {
  color: var(--clr-icon-gd);
}

.u-docker-color {
  color: var(--clr-icon-docker);
}

.u-bash-color {
  color: var(--clr-icon-bash);
}

.u-linux-color {
  color: var(--clr-icon-linux);
}
.u-git-color {
  color: var(--clr-icon-git);
}

.u-nodejs-color {
  color: var(--clr-icon-nodejs);
}

.u-nextjs-color {
  color: var(--clr-icon-nextjs);
}

.u-sql-color {
  color: var(--clr-icon-sql);
}
/* Contact */

.u-linkedin-color {
  color: var(--clr-icon-linkedin);
}

.u-email-color {
  color: var(--clr-icon-email);
}

.u-telegram-color {
  color: var(--clr-icon-telegram);
}

.u-discord-color {
  color: var(--clr-icon-discord);
}
