.c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  background-color: var(--clr-secondary);
  width: 60vw;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
}

.c-grid__card {
  display: flex;
  align-items: center;
  background-color: var(--clr-tertiary);
  height: 150px;
  margin: 15px;
  box-shadow: 5px 5px 5px 5px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
  cursor: pointer;
}

.c-grid__textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: var(--clr-fourth);
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
  transition: width 800ms;
}

.c-grid__text {
  opacity: 0;
  font-size: 0px;
  max-width: 150px;
  min-height: 50px;
  margin: 12px;
  transition: font-size 100ms, opacity 2000ms;
}

.c-grid__card:hover .c-grid__textfield {
  width: 100%;
}

.c-grid__card:hover .c-grid__text {
  opacity: 1;
  font-size: 15px;
}

.c-grid__img {
  z-index: 1;
  margin-left: 20px;
  border-radius: var(--cfg-border-radius);
}

.c-grid__icon {
  font-size: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 500ms;
}

.c-grid__card:hover .c-grid__icon {
  animation: jumpy-animation 1000ms infinite linear;
}
