:root {
  --clr-header: transparent;
  --clr-hide-header: #00000042;
  --clr-primary: #FFCBA4;
  --clr-secondary: #f0b990 ;
  --clr-cards: #d1a380;
  --clr-cards-before: #b99070; 
  --clr-box-shadow: #00000042;

  --border-radius: 15px;
}

.dark-mode {
  --clr-header: #00000015;
}

* {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  background: var(--clr-primary);
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}
