.c-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-skills__title {
  font-size: 50px;
}

.c-skills__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  background-color: var(--clr-secondary);
  width: 90vw;
  height: 500px;
  margin-top: 50px;
  border-radius: var(--border-radius);
}

.c-skills__card {
  display: flex;
  background-color: var(--clr-cards);
  margin: 15px;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.c-skills__textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: var(--clr-cards-before);
  border-radius: var(--border-radius);
  transition: width 800ms;
}

.c-skills__text {
  position: absolute;
  font-size: 0px;
  width: 120px;
  height: 100px;
  margin: 12px;
  transition: font-size 150ms;
}

.c-skills__card:hover .c-skills__textfield {
  width: 100%;
}

.c-skills__card:hover .c-skills__text {
  font-size: 15px;
}

.c-skills__icon {
  font-size: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 500ms;
}

.c-skills__card:hover .c-skills__icon {
  animation: jumpy-animation 1000ms infinite linear;
}

.c-skills__card:nth-child(1):hover .c-skills__icon {
  color: #f7df1e;
}

.c-skills__card:nth-child(2):hover .c-skills__icon {
  color: #e96228;
}

.c-skills__card:nth-child(3):hover .c-skills__icon {
  color: #0096dc;
}

.c-skills__card:nth-child(4):hover .c-skills__icon {
  color: #ffd140;
}

.c-skills__card:nth-child(5):hover .c-skills__icon {
  color: #3077c5;
}

.c-skills__card:nth-child(6):hover .c-skills__icon {
  color: #7377ad;
}

.c-skills__card:nth-child(7):hover .c-skills__icon {
  color: #42944c;
}

.c-skills__card:nth-child(8):hover .c-skills__icon {
  color: #4588b9;
}

.c-skills__card:nth-child(9):hover .c-skills__icon {
  color: #277c92;
}

.c-skills__card:nth-child(10):hover .c-skills__icon {
  color: #e1790d;
}

.c-skills__card:nth-child(11):hover .c-skills__icon {
  color: #6c6240;
}

.c-skills__card:nth-child(12):hover .c-skills__icon {
  color: #272e35;
}

.c-skills__card:nth-child(13):hover .c-skills__icon {
  color: #413434;
}

.c-skills__card:nth-child(14):hover .c-skills__icon {
  color: #e84d31;
}

.c-skills__card:nth-child(15):hover .c-skills__icon {
  color: #59792a;
}
