.u-shape {
  position: fixed;
  z-index: -1;
  background-color: var(--clr-tertiary);
  box-shadow: 5px 5px var(--clr-box-shadow);

  animation: floating-animation alternate infinite 3500ms;
}

.u-circle {
  border-radius: 50%;
}
