.c-footer {
  display: block;
  margin: 20px 10px 5px 10px;
  background-color: var(--clr-secondary);
  text-align: center;
  padding: 25px;
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
}

.c-footer__links {
  font-size: clamp(0.5rem, 1.5rem, 2rem);
  list-style: none;
  cursor: pointer;
  margin-bottom: 20px;
}
