.c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  background-color: var(--clr-secondary);
  width: 90vw;
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
}

.c-grid__card {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--clr-tertiary);
  height: 150px;
  margin: 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
}

.c-grid__textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: var(--clr-fourth);
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
  transition: width 700ms;
}

.c-grid__card:hover .c-grid__textfield {
  width: 100%;
}

.c-grid__text {
  text-align: center;
  opacity: 0;
  font-size: 0;
  width: 90%;
  margin: 12px;
  overflow-y: scroll;
  transition: font-size 400ms, opacity 800ms;
}

.c-grid__card:hover .c-grid__text {
  font-size: clamp(0.5rem, 1rem, 2rem);
  opacity: 1;
}

.c-grid__img {
  z-index: 1;
  margin-left: 20px;
  border-radius: var(--cfg-border-radius);
}

.c-grid__icon {
  font-size: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 500ms;
}

.c-grid__card:hover .c-grid__icon {
  animation: jumpy-animation 1000ms infinite linear;
}
