.c-header {
  z-index: 100;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-header);
  padding: 15px;
  width: fit-content;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 4px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
  transition-property: background, top, padding;
  transition-duration: 700ms;
}

.c-header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.c-header__links a {
  position: relative;
  text-decoration: none;
}

.c-header__links a::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -5px;
  width: 0;
  border-bottom: 2px solid;
  transition: width 500ms;
}

.c-header__links a:hover::after {
  width: 100%;
}

.c-header__expand-mode {
  font-size: 25px;
  margin-left: 20px;
  transition: 500ms;
}

.c-header__expand-mode:hover::after {
  content: none;
}

.c-header__expand-mode:hover {
  cursor: pointer;
  animation: jumpy-animation 2000ms infinite;
}

.c-header__select,
.c-header__select option {
  font-family: Ubuntu, system-ui, -apple-system;
  width: 40px;
}

.c-header__select:hover {
  cursor: pointer;
  animation: jumpy-animation 2000ms infinite;
}
