.c-tip {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 10px;
}

.c-tip__card {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: bolder;
  background-color: var(--clr-secondary);
  padding-right: 20px;
  margin-bottom: 100px;
  border-radius: var(--cfg-border-radius);
  box-shadow: 5px 5px 5px 5px var(--clr-box-shadow);
}

.c-tip__text {
  padding: 2px;
}

.c-tip__bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--clr-fourth);
  width: 70px;
  height: 100%;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px var(--clr-box-shadow);
  border-radius: var(--cfg-border-radius);
}

.c-tip__icon {
  font-size: 35px;
  color: var(--clr-info);
  animation: jumpy-animation 2000ms infinite;
}

.c-tip__arrows {
  width: 20px;
  height: 20px;
  border-right: 5px solid var(--clr-gold);
  border-bottom: 5px solid var(--clr-gold);
  transform: rotate(45deg);
  margin: -10px;
  animation: arrows-animation infinite 3000ms;
}

.c-tip__arrows:nth-child(2) {
  animation-delay: 200ms;
}

.c-tip__arrows:nth-child(3) {
  animation-delay: 400ms;
}
