.u-mobile__display-none {
  display: none;
}

.u-mobile__container {
  flex-direction: column;
}

.u-mobile__displayIt {
  display: flex !important;
}

.u-mobile__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-main-title {
  text-align: center;
}
